.card {
    width: 70%;
    height: 50%;
    margin: 40px auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.card__row {
    margin: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 100%;
}
