html {
    margin: 0px;
    padding: 0px;

    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: rgb(255, 255, 255, 0.5);
}

@media (min-width: 1441px) {
    html {
        font-size: 22px;
    }
}

body {
	background: linear-gradient(-45deg, #4b8aff, #b25aec, #5784ff, #64eeb5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

h3 {
    margin: 0.5rem 0rem 0.5rem 0.5rem;
}

#database-change {
    width: 80%;
    height: 70%;

    display: flex;
    flex-wrap: wrap;
}

#database-change__header {
    width: 100%;
    height: 15%;

    background-color: var(--primary-color);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#database-change__header > h1 {
    margin-left: 1rem;
}

#database-change__header > button {
    margin-right: 1rem;
}

#database-change__form {
    width: calc(50% - 0.25rem);
    height: calc(85% - 0.5rem);
    margin: 0.5rem 0.25rem 0rem 0rem;

    background-color: var(--primary-color);

    display: inline-block;
}

.form__label {
    width: 10rem;
    margin-left: 1rem;
    margin-top: 0.5rem;

    font-size: 1rem;
    transition: all 0.5s;

    display: inline-block;
}

.form__input {
    width: 40%;
    margin: 0.5rem 0rem 0rem 0.5rem;
    padding: 0.5rem 1rem;

    font-size: 1rem;
    color: #333;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    border: none;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.5s;

    display: inline-block;
}

.form__label + .form__input:placeholder-shown {
    -webkit-transform: translateX(-11rem);
    transform: translateX(-11rem);
}

#form__note {
    margin: 4rem 0rem 0.5rem 0.5rem;

    font-size: 0.8rem;
}

#database-change__info {
    width: calc(50% - 0.25rem);
    height: calc(85% - 0.5rem);
    margin: 0.5rem 0rem 0rem 0.25rem;

    background-color: transparent;

    display: flex;
    flex-direction: column;
}

#d {
    width: 100%;
    height: 40%;
    margin-bottom: 0.5rem;
    
    background-color: transparent;
    
    display: flex;
    flex-direction: column;
}

#database-change__info-button {
    width: 100%;
    height: calc(30% + 0.5rem);

    background-color: rgb(255, 255, 255, 0);
}

#database-change__info-button > button {
    margin-bottom: 0.25rem;
}

#database-change__current-connection {
    width: 100%;
    height: 70%;
    padding-bottom: 0.5rem;
    
    box-sizing: border-box;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 0.5rem;

    display: flex;
}

#database-change__current-connection__info {
    width: 70%;
    height: 100%;
}

#database-change__current-connection__info > h4 {
    margin-left: 1.5rem;
    margin-right: 0.25rem;

    display: inline;
}

#database-change__current-connection__info > p {
    font-size: 0.8rem;

    display: inline;
}

#database-change__current-connection__spinner {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#database-change__status {
    width: 100%;
    height: 100%;

    background-color: rgb(255, 255, 255,1);
    border-radius: 0.5rem;
}

.stat__message {
    margin: 1rem 0rem 0rem 2rem;
}

.scroller {
    overflow-y: auto;
}

.spinner {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #3d76f1;
    animation: spin 1.5s linear infinite;

    visibility: hidden;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
