html {
    font-family: "Poppins", sans-serif;
}

.container-1 {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outlineR {
    outline: solid 1px red;
}

.outlineO {
    outline: solid 1px orange;
}

.outlineY {
    outline: solid 1px yellow;
}

.outlineG {
    outline: solid 1px green;
}

.outlineB {
    outline: solid 1px blue;
}

.outlineP {
    outline: solid 1px purple;
}
