form {
    width: 50%;
}

form > input {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 75%;
    padding: 10px;
}

form > button {
    margin: 20px;
    width: 200px;
}

.card-1 {
    height: 80%;
}
