:root {
    --sm-gap: 0.5rem;
    --md-gap: 1rem;
    --lg-gap: 2rem;

    --primary-blue: rgb(35, 35, 75);
    --secondary-blue: rgb(105, 105, 236);
    --primary-grey: rgb(235, 235, 235);
}

html {
    margin: 0px;
    padding: 0px;

    font-size: 18px;
}

body {
    background: linear-gradient(-45deg, rgb(105, 105, 236), rgb(17, 17, 53), rgb(105, 105, 236), rgb(35, 35, 75));
    background-size: 400% 400%;
    animation: gradient 45s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

.error {
    width: 90%;

    font-size: 0.8rem;

    text-align: center;
}

.full-cluster {
    width: 90%;
}

.half-cluster {
    width: 45%;
}

.req-text {
    font-size: 0.9rem;
}

.password-req {
    height: 1rem;

    display: flex;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    margin-right: 6.8px;

    border: 2px solid rgb(255, 53, 53);
    border-radius: 50%;
    transition: background-color 0.3s;

    display: flex;
}

.check-mark {
    margin-right: 0.5rem;

    color: rgb(2, 153, 2);
    font-size: 1rem;

    display: none;
}

.uncompleted {
    color: rgb(255, 53, 53);
}

.completed {
    color: rgb(2, 153, 2);
}

#create-account-card {
    width: 27rem;
    height: 27rem;
    padding: 2rem 0.75rem;
    box-sizing: border-box;

    background-color: white;
    border-radius: 1rem;
    border: 2px solid var(--primary-grey);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#create-account-card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-account-card__header > b {
    font-size: 1.5rem;
}

#create-account-card__header > p > b > a {
    color: black;
    text-decoration: none;
}

#create-account-card__header__link {
    margin-top: 0.2rem;
    margin-bottom: 0px;

    font-size: 0.8rem;
}

#create-account-card__first-last {
    width: 90%;

    display: flex;
    justify-content: space-between;
}

#tool-tip-anchor {
    position: relative;
}

#tool-tip {
    height: 5rem;
    width: 16rem;
    padding: 0.5rem;
    box-sizing: border-box;

    background-color: rgb(255, 255, 255);
    border: solid 2px rgb(87, 87, 194);
    border-radius: 0.5rem;
    font-size: 0.8rem;

    display: none;
    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    top: -3rem;
    left: -17rem;
}

#tool-tip::after {
    content: "";
    border-width: 0.75rem;
    border-style: solid;
    border-color: transparent transparent transparent rgb(87, 87, 194);

    position: absolute;
    top: 1.6rem;
    right: -1.45rem;
}

#login-card__button {
    width: 80%;
    height: 2rem;
    margin-top: 1rem 1rem 1rem 1rem;
}

#login-button {
    width: 100%;
    height: 100%;

    background: linear-gradient(-45deg, rgb(105, 105, 236), rgb(17, 17, 53), rgb(105, 105, 236), rgb(35, 35, 75));
    background-size: 400% 400%;
    animation: gradient 45s linear infinite;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-out 0.2s;
}

#login-button {
    color: white;
    font-size: 1rem;
}

#login-button:hover,
#login-button:focus {
    background-color: rgb(87, 87, 194);
}

#login-button:hover {
    transform: translateY(-1px);
}

#login-button:active {
    transform: translateY(1px);
}

#login-card__button + p {
    font-size: 0.9rem;
}
