html {
    margin: 0px;
    padding: 0px;

    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

:root {
    --primary-color: rgb(255, 255, 255, 0.5);
}

form {
    width: 75%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

form > label {
    align-self: flex-start;
}

#form-names {
    width: 100%;
    margin-bottom: 1rem;
    
    display: flex;
}

#form-names__first-name, #form-names__last-name {
    width: calc(100% - 0.5rem);

    display: flex;
    flex-direction: column;
}

#form-names__first-name {
    margin-right: 0.25rem
}

#form-names__last-name {
    margin-left: 0.25rem
}

.input {
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
    width: 100%;
    padding: 0.5rem 1rem;

    box-sizing: border-box;

    font-size: 1rem;
    color: #333;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    border: none;
    border-bottom: 0.3rem solid transparent;
}

form > button {
    margin: 1.25rem;
    width: 100%;
}

.card {
    width: 35%;
    height: 70%;
    padding: 2rem;

    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
