html {
    margin: 0px;
    padding: 0px;

    font-size: 16px;
    font-family: "Roboto", sans-serif;

    background-color: lightblue;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

    transition: all 0.3s;
}

a:hover {
    color: rgb(167, 191, 255);
}

#d1 {
    width: 80%;
    height: 80%;
}

#d1-1 {
    width: 100%;
    height: 3rem;

    display: flex;
}

.tab {
    width: 25%;
    height: 100%;

    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: height 0.3s;
}

.tab:nth-child(2) {
    margin-left: 0.25rem;
    margin-right: 0.125rem;
}

.tab:nth-child(3) {
    margin-left: 0.125rem;
    margin-right: 0.25rem;
}

.tab.active {
    background-color: white;
    height: calc(3rem + 1px);

    border-radius: 0.3rem 0.3rem 0rem 0rem;
}

.tab.inactive {
    background-color: rgb(167, 191, 255);
    height: 2.5rem;

    border-radius: 0.3rem;
}

#d1-2 {
    width: 100%;
    height: calc(100% - 3rem);
    padding: 3rem;

    background-color: white;

    box-sizing: border-box;
    border-radius: 0rem 0rem 0.3rem 0.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.slide {
    height: 100%;
    padding: 1rem;
    margin: 0rem 0.25rem 0rem 0.25rem;

    box-sizing: border-box;
    background-color: #f7f7f7; /* Light gray background */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: transform ease-in-out 0.75s;
}

.slide.tripleSlide {
    width: 33.33%;

    display: flex;
    flex-direction: column;
}

.slide.doubleSlide {
    width: 50%;

    display: none;
    flex-direction: column;
}

#d1-2-6,
#d1-2-7,
#d1-2-8 {
    display: none;
}

.slide h2 {
    margin-bottom: 1rem;

    font-size: 1.5rem;
    color: #333;
}

.slide p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.explanation {
    height: 10rem;
}

.list {
    margin-top: 1.5rem;
}

.list h4 {
    margin-bottom: 0rem;

    font-size: 1.2rem;
    color: #333;
}

.list ul {
    padding-left: 0;

    list-style-type: none;
}

.list li {
    margin-bottom: 0.25rem;

    font-size: 1rem;
    line-height: 1.5;
    color: #666;
}

.list li strong {
    color: #333;
}

.up {
    transform: translateY(calc(-100% - 4rem));
}

.down {
    transform: translateY(calc(100% + 4rem));
}

#d1-2-4 > h4 {
    align-self: center;
}

#c {
    width: 80%;
    height: 50%;
    padding: 1rem;

    background-color: #929292;
    border-radius: 0.2rem;

    display: flex;
    align-self: center;
}

#c1 {
    width: 20%;
    height: 100%;
    margin-right: 0.25rem;
}

#c h4 {
    text-align: center;
}

#c2 {
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#c2-1 {
    width: 100%;
    height: 15%;
}

#c2-2 {
    width: 100%;
    height: 85%;
    margin-top: 0.25rem;
}

#c1,
#c2-1,
#c2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#c1:hover,
#c2-1:hover,
#c2-2:hover {
    background-color: rgb(167, 191, 255, 1);
    transform: translateY(-2px);

    transition: all 0.4s;
}

#c1:active,
#c2-1:active,
#c2-2:active {
    color: rgba(0, 0, 0, 0.65);
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(1px);
}

#d1-2-5-1,
#d1-2-5-2,
#d1-2-5-3 {
    width: 100%;
    height: 100%;
    padding: 0rem;

    transition: all 0.5s;

    display: none;
    flex-direction: column;
    align-items: center;
}

#d1-2-5-1 {
    display: flex;
}

.scaleDown {
    transform: scale(0);
    transition: all 0.5s;
}

.scaleUp {
    transform: scale(1);
    transition: all 0.5s;
}

#d1-2-5-3 h4 {
    margin-bottom: 0rem;

    font-size: 1.2rem;
    color: #333;

    align-self: flex-start;
} 

#d1-2-5-1 h4, #d1-2-3-2 h4{
    margin-top: 0rem;
}