html {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

@media (max-width: 1440px) {
    html {
        font-size: 12px; /* Set font size to 12px for smaller screens */
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#content {
    width: 90%;
    height: 90%;

    display: flex;
}

#history-menu {
    width: 3%;
    height: 100%;

    background-color: rgb(167, 191, 255);
    transition: all 0.5s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#history-expand-button {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#c1-2-1 {
    width: 100%;
    height: 2.5rem;
}

#c1-2 {
    width: 90%;
    height: calc(90% - 2rem);
    margin: 1rem 0rem;

    border-radius: 0.2rem;

    visibility: visible;
    overflow-y: auto;
    overflow-x: hidden;
}

#c1-2::-webkit-scrollbar {
    display: none;
}

#expandBut {
    width: 90%;
    height: 2.5rem;
}

.historyButton {
    width: 100%;
    height: 2.5rem;

    margin-bottom: 0.75rem;
}

.expandedInfo > div > p {
    font-size: 0.85rem;
}

.expandedInfo {
    display: none;
}

.symbol {
    display: flex;
}

.repKind {
    width: 20%;
    min-width: 4rem;
    height: 2.5rem;
}

.repDate {
    width: 25%;
    min-width: 3.5rem;
    height: 2.5rem;
}

.repRange {
    width: 55%;
    min-width: 9.5rem;
    height: 2.5rem;
}

.repKind,
.repDate,
.repRange {
    display: flex;
    justify-content: center;
    align-items: center;
}

#c2 {
    width: 97%;
    height: 100%;
    margin-left: 1rem;

    transition: all 0.5s;
}

#c2-1 {
    width: 100%;
    height: 10%;

    background-color: rgb(167, 191, 255);

    display: flex;
}

#c2-1-1 {
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;
}

.form__input {
    font-size: 1rem;
    color: #333;
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    border: none;
}

#start_date,
#end_date {
    width: 9rem;
    height: 2.5rem;
    margin: 0rem 1rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#time_range {
    width: 9rem;
    height: 2.5rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
}

#c2-1-2 {
    width: 60%;
    height: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#c2-2 {
    width: 100%;
    height: calc(90% - 1rem);
    margin-top: 1rem;
    padding: 2rem 1rem 1rem 1rem;

    background-color: rgb(127, 128, 131);

    display: flex;
    justify-content: center;
    align-items: center;
}

#report {
    width: 100%;
    height: 100%;

    padding: 2rem;

    background-color: white;
    border-radius: 0.2rem;
}

.but {
    color: rgba(0, 0, 0, 0.85);
    background-color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

    cursor: pointer;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    transition: all 250ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.but:hover,
.but:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.but:hover {
    transform: translateY(-1px);
}

.but:active {
    color: rgba(0, 0, 0, 0.65);
    background-color: #f0f0f1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

#c2-1-2 > button {
    margin-left: 1rem;
}
