{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/account_information_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div id="pageOverlay" class="overlay-hidden"></div>
        <div class="container-1">
            <p class="login-signifier">Welcome, {{ user.first_name }}</p>
            <button id="logout-button" class="button-1" onclick="redirectTo('/logout/')">Logout</button>
            <div id="content" class="card">
                <div>
                    <h1>Your Information</h1>
                    <button class="button-1 content__button" onclick="redirectTo('/home/')">Back to home</button>
                </div>
                <hr />
                <div id="name">
                    <p id="name_text">Name: {{ user.first_name }} {{user.last_name }}</p>
                    <div class="popupBox" id="update_name">
                        <div class="popup-content">
                            <h2>Change name</h2>
                            <input
                                type="text"
                                id="first_name"
                                class="form__input wide__input"
                                placeholder="First name"
                            />
                            <input type="text" id="last_name" class="form__input wide__input" placeholder="Last name" />
                            <span>
                                <button type="button" id="save" class="button-1 save-button">Save</button>
                                <button type="button" class="button-1 cancel-button">Cancel</button>
                            </span>
                        </div>
                    </div>
                    <button class="button-1 content__button toggleButton">Change</button>
                </div>
                <hr />
                <div id="email">
                    <p id="email_text">Email: {{ user.email }}</p>
                    <div class="popupBox" id="update_email">
                        <div class="popup-content">
                            <h2>Change email</h2>
                            <input type="text" id="email_new" class="form__input wide__input" placeholder="New email" />
                            <input
                                type="text"
                                id="email_confirm"
                                class="form__input wide__input"
                                placeholder="Confirm email"
                            />
                            <span>
                                <button type="button" id="save" class="button-1 save-button">Save</button>
                                <button type="button" class="button-1 cancel-button">Cancel</button>
                            </span>
                        </div>
                    </div>
                    <button class="button-1 content__button toggleButton">Change</button>
                </div>
                <hr />
                <div id="password">
                    <p id="password_text">Password: The tool does not save raw text passwords.</p>
                    <div class="popupBox" id="update_password">
                        <div class="popup-content">
                            <h2>Change Password</h2>
                            <input
                                type="password"
                                id="password_old"
                                class="form__input wide__input"
                                placeholder="Old password"
                            />
                            <input
                                type="password"
                                id="password_new"
                                class="form__input wide__input"
                                placeholder="Create password"
                            />
                            <input
                                type="password"
                                id="password_confirm"
                                class="form__input wide__input"
                                placeholder="Confirm password"
                            />
                            <span>
                                <button type="button" id="save" class="button-1 save-button">Save</button>
                                <button type="button" class="button-1 cancel-button">Cancel</button>
                            </span>
                        </div>
                    </div>
                    <button class="button-1 content__button toggleButton">Change</button>
                </div>
            </div>
        </div>

        <!-- Links to .js files and getting csrf_token -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/account_information_script.js' %}"></script>
        <script>
            // Easier to get csrf token from template
            var csrf_token = "{{ csrf_token }}";
        </script>
    </body>
</html>
