{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/account_information_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-1">
            <p class="login-signifier">Welcome, {{ user.first_name }}</p>
            <button
                id="logout-button"
                class="button-2"
                onclick="redirectTo('/logout/')"
            >
                Logout
            </button>
            <div id="content" class="card">
                <div>
                    <h1>Your Information</h1>
                    <button
                        class="button-2 content__button"
                        onclick="redirectTo('/home/')"
                    >
                        Back to home
                    </button>
                </div>
                <hr />
                <div>
                    <p id="name_text">
                        Name: {{ user.first_name }} {{user.last_name }}
                    </p>
                    <form
                        id="update_name"
                        method="POST"
                        style="display: none"
                        action
                    >
                        <input
                            type="text"
                            id="first_name"
                            class="form__input narrow__input"
                            value="{{ user.first_name }}"
                        />
                        <input
                            type="text"
                            id="last_name"
                            class="form__input narrow__input"
                            value="{{ user.last_name }}"
                        />
                        <button
                            id="but"
                            type="button"
                            class="button-2"
                            onclick="submitForm('name')"
                        >
                            Save
                        </button>
                    </form>
                    <button
                        class="button-2 content__button"
                        onclick="toggleForm('name')"
                    >
                        Change
                    </button>
                </div>
                <hr />
                <div>
                    <p id="email_text">Email: {{ user.email }}</p>
                    <form
                        id="update_email"
                        method="POST"
                        style="display: none"
                        action
                    >
                        <input
                            type="text"
                            id="email"
                            class="form__input wide__input"
                            value="{{ user.email}}"
                        />
                        <button
                            type="button"
                            class="button-2"
                            onclick="submitForm('email')"
                        >
                            Save
                        </button>
                    </form>
                    <button
                        class="button-2 content__button"
                        onclick="toggleForm('email')"
                    >
                        Change
                    </button>
                </div>
                <hr />
                <div>
                    <p id="password_text">
                        Password: The tool does not save raw text passwords.
                    </p>
                    <form
                        id="update_password"
                        method="POST"
                        style="display: none"
                        action
                    >
                        <input
                            type="text"
                            class="form__input wide__input"
                            id="password"
                        />
                        <button
                            type="button"
                            class="button-2"
                            onclick="submitForm('password')"
                        >
                            Save
                        </button>
                    </form>
                    <button
                        class="button-2 content__button"
                        onclick="toggleForm('password')"
                    >
                        Change
                    </button>
                </div>
            </div>
        </div>

        <!-- Links to .js files and getting csrf_token -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/account_information_script.js' %}"></script>
        <script>
            // Easier to get csrf token from template
            var csrf_token = "{{ csrf_token }}";
        </script>
    </body>
</html>