{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'commonstyles.css' %}">
        <link rel="stylesheet" href="{% static 'changeaccountstyle.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="{% static 'changeaccountjava.js' %}"></script>
        <script>
            // Easier to get csrf token from template
            var csrf_token = '{{ csrf_token }}';
        </script>
    </head>
    <body>
        <div class="container-1">
            <div class="card-2">
                <h3>Your Information</h3>
                <hr>
                <div class="row">
                    <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
                    <form id="update_name" method="POST" style="display: none;" action="">
                        <input type="text" id="first_name" value='{{ user.first_name }}'>
                        <input type="text" id="last_name" value='{{ user.last_name }}'>
                        <button type="button" onclick="submitForm()">Save</button>
                    </form>
                    <button onclick="showForm('name')">Change</button>
                </div>
                <hr>
                <div class="row">
                    <p>Username: {{ user.username }}</p>
                    <button>Change</button>
                </div>
                <hr>
                <div class="row">
                    <p>Email: {{ user.email }}</p>
                    <button>Change</button>
                </div>
                <hr>
                <div class="row">
                    <p>Password: The tool does not save raw text passwords. </p>
                    <button>Change</button>
                </div>
            </div>
        </div>
    </body>
</html>