{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/directions_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-1">
            <div id="d1" class="">
                <div id="d1-1" class="">
                    <div id="t1" class="tab active">
                        <h3>Overview</h3>
                    </div>
                    <div id="t2" class="tab inactive">
                        <h3>Generate Report</h3>
                    </div>
                    <div id="t3" class="tab inactive">
                        <h3>Change Database</h3>
                    </div>
                    <div id="t4" class="tab inactive">
                        <h3>Account Information</h3>
                    </div>
                </div>
                <div id="d1-2" class="">
                    <div id="d1-2-1" class="outlineR tripleSlide"></div>
                    <div id="d1-2-2" class="outlineP tripleSlide"></div>
                    <div id="d1-2-3" class="outlineB tripleSlide"></div>
                    <div id="d1-2-4" class="outlineB doubleSlide up"></div>
                    <div id="d1-2-5" class="outlineP doubleSlide down"></div>
                    <div id="d1-2-6" class="outlineR tripleSlide down"></div>
                    <div id="d1-2-7" class="outlineP tripleSlide up"></div>
                    <div id="d1-2-8" class="outlineB tripleSlide down"></div>
                    <div id="d1-2-9" class="outlineB doubleSlide down"></div>
                    <div id="d1-2-10" class="outlineP doubleSlide up"></div>
                </div>
            </div>
        </div>

        <!-- Links to .js files -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/directions_script.js' %}"></script>
    </body>
</html>
