{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}">
        <link rel="stylesheet" href="{% static 'css/generate_report_style.css' %}">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/generate_report_script.js' %}"></script>
    </head>
    <body>
        <div class="container-1">
            <div class="param-card">
                <h1>
                    Input Report Parameters
                </h1>
                <div class="formDiv">
                    <form action="/generate_report/" method="post">
                        <div class="dateDiv">
                            <label for="start_date">Start Date:</label>
                            <input type="date" id="start_date" name="start_date" required>
    
                            <label for="end_date">End Date:</label>
                            <input type="date" id="end_date" name="end_date" required>
                        </div> <br><br>
                
                        <div class="div-2">
                            <label for="client_name">Client Name: (Leave bank to select all clients)</label>
                        <input type="text" id="client_name" name="client_name"><br>
                
                        <label for="sorting_option">Sorting Option:</label>
                        <select id="sorting_option" name="sorting_option">
                            <option value="date">Date</option>
                            <option value="client">Client</option>
                            <option value="amount">Amount</option>
                        </select><br><br>
                
                        <input class="button-1" type="submit" value="Generate Report">
                        </div>
                    </form>
                </div>
            </div>
            <div class="report-card outline">
                <h1 class="outline">
                    Report Goes Here
                </h1>
                <div class="reportBlock outline">

                </div>
                <p>report parameters</p>
            </div>
        </div>
    </body>
</html>