{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Imports for datatables.net -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css"
        />
        <script
            type="text/javascript"
            charset="utf8"
            src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"
        ></script>

        <!-- Project Imports -->
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link
            rel="stylesheet"
            href="{% static 'css/generate_report_style.css' %}"
        />
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/generate_report_script.js' %}"></script>
    </head>
    <body>
        <div class="container-1">
            <div class="param-card">
                <h1>Input Report Parameters</h1>
                <div class="formDiv">
                    <form method="post">
                        {% csrf_token %}
                        <div class="dateDiv">
                            <label for="start_date">Start Date:</label>
                            <input
                                type="date"
                                id="start_date"
                                name="start_date"
                                required
                            />

                            <label for="end_date">End Date:</label>
                            <input
                                type="date"
                                id="end_date"
                                name="end_date"
                                required
                            /><br /><br />

                            <label for="time_range">Time Range:</label>
                            <select id="time_range" name="time_range">
                                <option value="ytd">YTD</option>
                                <option value="last_year">Last Year</option>
                                <option value="all_time">All Time</option>
                                <option value="custom" selected>Custom</option>
                            </select>
                        </div>
                        <br /><br />

                        <div class="div-2">
                            <label for="client_name"
                                >Client Name: (Leave blank to select all
                                clients)</label
                            >
                            <input
                                type="text"
                                id="client_name"
                                name="client_name"
                            /><br />
                        </div>
                    </form>
                </div>
            </div>
            <div class="report-card">
                <div class="report-card-header">
                    <h1 class="">Report Goes Here</h1>
                    <button class="button-3" onclick="redirectTo('/home/')">
                        Back to home
                    </button>
                </div>
                <div class="reportBlock">
                    <table id="example" class="stripe display">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011-04-25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011-07-25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009-01-12</td>
                                <td>$86,000</td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012-03-29</td>
                                <td>$433,060</td>
                            </tr>
                            <tr>
                                <td>Airi Satou</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>33</td>
                                <td>2008-11-28</td>
                                <td>$162,700</td>
                            </tr>
                            <tr>
                                <td>Brielle Williamson</td>
                                <td>Integration Specialist</td>
                                <td>New York</td>
                                <td>61</td>
                                <td>2012-12-02</td>
                                <td>$372,000</td>
                            </tr>
                            <tr>
                                <td>Herrod Chandler</td>
                                <td>Sales Assistant</td>
                                <td>San Francisco</td>
                                <td>59</td>
                                <td>2012-08-06</td>
                                <td>$137,500</td>
                            </tr>
                            <tr>
                                <td>Rhona Davidson</td>
                                <td>Integration Specialist</td>
                                <td>Tokyo</td>
                                <td>55</td>
                                <td>2010-10-14</td>
                                <td>$327,900</td>
                            </tr>
                            <tr>
                                <td>Colleen Hurst</td>
                                <td>Javascript Developer</td>
                                <td>San Francisco</td>
                                <td>39</td>
                                <td>2009-09-15</td>
                                <td>$205,500</td>
                            </tr>
                            <tr>
                                <td>Sonya Frost</td>
                                <td>Software Engineer</td>
                                <td>Edinburgh</td>
                                <td>23</td>
                                <td>2008-12-13</td>
                                <td>$103,600</td>
                            </tr>
                            <tr>
                                <td>Jena Gaines</td>
                                <td>Office Manager</td>
                                <td>London</td>
                                <td>30</td>
                                <td>2008-12-19</td>
                                <td>$90,560</td>
                            </tr>
                            <tr>
                                <td>Quinn Flynn</td>
                                <td>Support Lead</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2013-03-03</td>
                                <td>$342,000</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p id="report_params">Report Parameters: None Input</p>
            </div>
        </div>
    </body>
</html>
