{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/home_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-1">
            <p class="login-signifier">Welcome, {{ user.first_name }}</p>
            <button id="logout-button" class="button-1" onclick="redirectTo('/logout/')">Logout</button>
            <div class="card-container">
                <div id="genRep-card">
                    <div id="genRep-card__header">
                        <h2>Reports</h2>
                    </div>
                    <div id="genRep-card__content">
                        <div id="genRep-card__content__history">
                            {% for param in data reversed %}
                            <div class="history-info">
                                <div class="report-kind"><b class="rep-type">{{ param.text_field }}</b></div>
                                <div class="report-date">
                                    <p><b>Ran On</b></p>
                                    <p>{{ param.date_field }}</p>
                                </div>
                                <div class="dates">
                                    <div>
                                        <p><b>Start</b></p>
                                        <p>{{ param.parameters_json.start_date }}</p>
                                    </div>
                                    <div>
                                        <p><b>End</b></p>
                                        <p>{{ param.parameters_json.end_date }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div id="genRep-card__content__button">
                            <button class="button-1" onclick="redirectTo('/generate_report/')">Generate Reports</button>
                        </div>
                    </div>
                </div>
                <div id="direactions-card">
                    <div id="directions-card__header"><h3>Directions</h3></div>
                    <div>
                        <button class="button-1" onclick="redirectTo('/directions/', 'overview')">Overview</button>
                        <button class="button-1" onclick="redirectTo('/directions/', 'genRep')">Generate Report</button>
                        <button class="button-1" onclick="redirectTo('/directions/', 'changeDB')">
                            Change DB
                        </button>
                        <button class="button-1" onclick="redirectTo('/directions/', 'acctInfo')">Account Info</button>
                    </div>
                </div>
                <div id="acctInfo-card">
                    <div id="acctInfo-card__header">
                        <h3>Account Information</h3>
                        <button class="button-1" onclick="redirectTo('/account_information/')">Change</button>
                    </div>
                    <div id="acctInfo-card__content">
                        <div>
                            <span><b>Name:</b> {{ user.first_name }} {{user.last_name }}</span>
                        </div>
                        <hr />
                        <div>
                            <span><b>Email:</b> {{ user.email }}</span>
                        </div>
                    </div>
                </div>
                <div class="home-card" onclick="redirectTo('/change_database/')">
                    <div class="home-card__header">
                        <h2>Change Database</h2>
                    </div>
                    <div class="home-card__icon">
                        <img
                            src="{% static 'images/database_icon.png' %}"
                            alt="Generate Report Image"
                            width="150"
                            height="150"
                        />
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/home_script.js' %}"></script>
    </body>
</html>
