{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'commonstyles.css' %}">
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    </head>
    <body>
        <div class="centerContainer outline">
            <div class="cardHolder outline">
                <div class="card">
                    <h2>Generate Report</h2>
                </div>
                <div class="card">
                    <h2>How to Use</h2>
                </div>
                <div class="card">
                    <h2>Change Database</h2>
                </div>
                <div class="card">
                    <h2>Change Account Information</h2>
                </div>
            </div>
        </div>
    </body>
</html>