{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'commonstyles.css' %}">
        <link rel="stylesheet" href="{% static 'homestyle.css' %}">
    </head>
    <body>
        <div class="centerContainer outline">
            <div class="cardHolder outline">
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
                <div class="card">
                    <h1>Hello</h1>
                </div>
            </div>
        </div>
    </body>
</html>