{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main_style.css' %}" />

        <script src="{% static 'js/common_script.js' %}"></script>
    </head>
    <body>
        <div class="container-1">
            <div class="card">
                <h1>Welcome to Practice CS Custom Reporting Tool</h1>
                <h3>Please login to continue</h3>
                <button
                    class="button-1"
                    onclick="redirectTo('/login/')"
                    role="button"
                >
                    Login
                </button>
            </div>
        </div>
    </body>
</html>
