{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'commonstyles.css' %}">
        <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
        <script>
            function toLogin() {
                window.location.href = '/login/';
            }
        </script>
    </head>
    <body>
        <div class="container-1">
            <div class="card-1">
                <h1>Welcome to Practice CS Custom Reporting Tool</h1>
                <h3>Please login to continue</h3>
                <button class="button-1" onclick="toLogin()"role="button">Login</button>
            </div>
        </div>
    </body>
</html>