{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login_style.css' %}" />
    </head>
    <body>
        <div class="container-1">
            <div class="card-1">
                <div class="titleDiv">
                    <h3>Please Input Your Login Information</h3>
                </div>
                <div class="formDiv">
                    <form method="post">
                        {% csrf_token %} {% if error_message %}
                        <p class="error">{{ error_message }}</p>
                        {% endif %}
                        <label for="username">Username:</label><br />
                        <input
                            type="text"
                            class="form_control"
                            id="username"
                            name="username"
                            required
                        /><br />
                        <label for="password">Password:</label><br />
                        <input
                            type="password"
                            class="form_control"
                            id="password"
                            name="password"
                            required
                        /><br />
                        <button type="submit" class="button-1">Login</button>
                    </form>
                </div>
                <div class="needAccDiv">
                    <p>
                        Dont have an account?
                        <a href="{% url 'create_account' %}">Create one</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
