{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/one_page_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />

        {% block sub_css %}
        {% endblock %}

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
            rel="stylesheet"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-1">
            <div id="c1" class="small-menu">
                <div id="c1-1">
                    <div class="symbol flex-center">
                        <b>H</b>
                    </div>
                    <p><b>Practice Report</b></p>
                </div>
                <div class="seperator-h"></div>
                <div id="c1-2" class="flex-col">
                    <div class="page-link" onclick="redirectTo('/one_page/', 'menu_open')">
                        <div class="symbol-sm flex-center">
                            <b>O</b>
                        </div>
                        <p>Home</p>
                    </div>
                    <div class="page-link">
                        <div class="symbol-sm flex-center">
                            <b>G</b>
                        </div>
                        <p>Generate Report</p>
                    </div>
                    <div class="page-link">
                        <div class="symbol-sm flex-center">
                            <b>C</b>
                        </div>
                        <p>Change Database</p>
                    </div>
                    <div class="page-link" onclick="redirectTo('/account_information/')">
                        <div class="symbol-sm flex-center">
                            <b>A</b>
                        </div>
                        <p>Account Information</p>
                    </div>
                </div>
            </div>
            <div id="c2" class="large-content flex-col">
                <div id="c2-1">
                    <div class="seperator-v"></div>
                    <div class="back-arrow flex-center"><p>&lt;</p></div>
                    <p>Home</p>
                </div>
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <!-- Links to .js files and getting csrf_token -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/one_page_script.js' %}"></script>
        <script>
            addInfo = "{{ additionalInfo|escapejs }}";
            if (addInfo && addInfo == "menu_open") {
                $("#c1").toggleClass("small-menu large-menu")
                $("#c2").toggleClass("large-content small-content");
            }
        </script>
        {% block sub_js %}
        {% endblock %}
    </body>
</html>
