{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tinker_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-1">
            <div id="main">
                <div id="d1" class="outlineP">
                    <div id="d1-1">
                        <!-- sliders added here in js file -->
                    </div>
                    <div id="d1-2"></div>
                    <div id="d1-3" class="outlineP"></div>
                </div>
                <div id="d2" class="outlineG">
                    <div id="d2-1" class="outlineR">
                        <!-- buttons added here in js file -->
                    </div>
                    <div id="d2-2" class="outlineB"></div>
                </div>
            </div>
        </div>

        <!-- Links to .js files and getting csrf_token -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/tinker_script.js' %}"></script>
        <script>
            // Easier to get csrf token from template
            var csrf_token = "{{ csrf_token }}";
        </script>
    </body>
</html>
