{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/common_style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tinker_style.css' %}" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="container-1">
            <div id="content">
                <div
                    id="c1"
                    class="card outlineG"
                    onclick="throttledToggleSize('c1', '3', '20')"
                >
                    <div id="c1-1" class="outlineR">
                        <button id="expandBut" class="but outlineR">E</button>
                    </div>
                    <div id="c1-2" class="outlineB">
                        <div id="c1-2-1" class="outlineP">
                            <p>10/11/2000</p>
                        </div>
                        <div id="c1-2-1" class="outlineP">
                            <p>10/11/2000</p>
                        </div>
                    </div>
                </div>
                <div id="c2">
                    <div id="c2-1" class="card">
                        <div id="c2-1-1">
                            <input
                                type="date"
                                id="start_date"
                                class="form__input outlineO"
                                name="start_date"
                                required
                            />

                            <p>to</p>
                            <input
                                type="date"
                                id="end_date"
                                class="form__input"
                                name="end_date"
                                required
                            />

                            <select
                                id="time_range"
                                class="form__input"
                                name="time_range"
                            >
                                <option value="ytd">YTD</option>
                                <option value="last_year">Last Year</option>
                                <option value="all_time">All Time</option>
                                <option value="custom" selected>Custom</option>
                            </select>
                        </div>
                        <div id="c2-1-2"">
                            <button class="button-3" onclick="generateTable()">
                                Create Report
                            </button>
                            <button class="button-3" onclick="generateTable()">
                                Place Holder
                            </button>
                            <button class="button-3" onclick="generateTable()">
                                Place Holder
                            </button>
                            <button
                                id="homeButton"
                                class="button-3"
                                onclick="redirectTo('/home/')"
                            >
                                Back to home
                            </button>
                        </div>
                    </div>
                    <div id="c2-2" class="card">
                        <div id="c2-2-1"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Links to .js files and getting csrf_token -->
        <script src="{% static 'js/common_script.js' %}"></script>
        <script src="{% static 'js/tinker_script.js' %}"></script>
        <script>
            // Easier to get csrf token from template
            var csrf_token = "{{ csrf_token }}";
        </script>
    </body>
</html>
