#main-container {
    width: 100%;
    height: 95%;

    background-color: rgb(235, 235, 235);
}

#main-container p, #main-container h3, #main-container h4 {
    cursor: default;
}

#header {
    width: 100%;

    background-color: white;
}

#header > h3 {
    margin: 1rem 1rem 0rem 1rem;

    font-size: 1.8rem;
    font-weight: normal;
}

#header > h4 {
    margin: 0rem 1rem 1rem 1rem;

    color: rgb(68, 68, 68);
    font-size: 1rem;
    font-weight: normal;
}

#card-holder {
    width: 100%;
    height: 100%;

    display: flex;
}