{% extends "one_page.html" %} {% load static %} {% block sub_css %}
<link rel="stylesheet" href="{% static 'css/sub_styles/generate_report_style.css' %}" />
{% endblock %} {% block content %}

<div id="main-container" class="flex-col">
    <div id="header">
        <h3>Generate Report</h3>
        <h4>Create your custom reports</h4>
    </div>
    <div id="card-holder">
        <div id="k1" class="content-card">
            <input type="date" id="start_date" class="form__input" name="start_date" required />
            <p>to</p>
            <input type="date" id="end_date" class="form__input" name="end_date" required />

            <div class="dropdown-button">Custom</div>
            <div class="dropdown-content">
                <div class="dropdown-item" data-value="YTD">YTD</div>
                <div class="dropdown-item" data-value="Last Year">Last Year</div>
                <div class="dropdown-item" data-value="All Time">All Time</div>
                <div class="dropdown-item" data-value="Custom">Custom</div>
            </div>
            <div class="button" id="run-report-button"><strong>Run Report</strong></div>
        </div>
        <div id="k2" class="content-card">
            <div id="k2-1"></div>
        </div>
    </div>
</div>

{% endblock %} {% block sub_js %}
<script src="{% static 'js/sub_scripts/generate_report_script.js' %}"></script>
{% endblock %}
