{% extends "one_page.html" %} {% load static %} {% block sub_css %}
<link rel="stylesheet" href="{% static 'css/sub_styles/generate_report_style.css' %}" />

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/2.0.5/css/dataTables.dataTables.min.css" />
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/2.0.5/js/dataTables.min.js"></script>

{% endblock %} {% block content %}

<div class="main-container flex-col">
    <div class="header">
        <h3>Generate Report</h3>
        <h4>Create your custom reports</h4>
    </div>
    <div id="card-holder">
        <div id="inputs" class="content-card">
            <div id="inputs__actions">
                <input
                    type="date"
                    id="start_date"
                    class="form__input"
                    name="start_date"
                    value="{{ start_date|default:'' }}"
                    required
                />
                <p>to</p>
                <input
                    type="date"
                    id="end_date"
                    class="form__input"
                    name="end_date"
                    value="{{ end_date|default:'' }}"
                    required
                />

                <div class="dropdown-button">{{ report_type|default:"Custom" }}</div>
                <div class="dropdown-content">
                    <div class="dropdown-item" data-value="YTD">YTD</div>
                    <div class="dropdown-item" data-value="Last Year">Last Year</div>
                    <div class="dropdown-item" data-value="All Time">All Time</div>
                    <div class="dropdown-item" data-value="Custom">Custom</div>
                </div>
                <div class="button" id="run-report-button" onclick="generateTable()"><strong>Run Report</strong></div>
            </div>
            <div id="inputs__database-information">
                <div id="database-information">
                    <!-- The line 47 must remain as one line. A Django error is thrown if it is formatted differently -->
                    {% if current_database_name == history_database_name or not current_database_name or not history_database_name %}
                    <p><strong>Database: </strong>{{ current_database_name|default:"No Active Connection" }}</p>
                    {% else %}
                    <p class="mismatch-message"><strong>Error: </strong>Report Database and Active Database differ.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div id="report-holder" class="content-card">
            <div id="report"></div>
        </div>
    </div>
</div>

{% endblock %} {% block sub_js %}
<script src="{% static 'js/sub_scripts/generate_report_script.js' %}"></script>
<script>
    // Easier to get csrf token from template
    var csrf_token = "{{ csrf_token }}";
</script>
{% endblock %}
