{% extends "one_page.html" %} {% load static %} {% block sub_css %}
<link rel="stylesheet" href="{% static 'css/sub_styles/home_style.css' %}" />
{% endblock %} {% block content %}

<div class="main-container">
    <div id="left">
        <h1>Welcome to Practice Report</h1>
        <h3>Choose a function to get started</h3>
    </div>
    <div id="right">
        <span onclick="redirectTo('/generate_report/', {menu_status : 'menu_closed'})">
            <h2>Generate Report</h2>
            <div class="sep-v"></div>
            <div>
                <p class="left-pos">Generate custom reports</p>
            </div>
        </span>
        <span onclick="redirectTo('/report_history/', {menu_status : 'menu_closed'})">
            <h2>Report History</h2>
            <div class="sep-v"></div>
            <div>
                <p class="left-pos">Find your previously ran reports</p>
            </div>
        </span>
        <span onclick="redirectTo('/change_database/', {menu_status : 'menu_closed'})">
            <h2>Change Database</h2>
            <div class="sep-v"></div>
            <div>
                <p class="left-pos">Enter a new database or connect to an old one</p>
            </div>
        </span>
        <span onclick="redirectTo('/account_information/', {menu_status : 'menu_closed'})">
            <h2>Account Information</h2>
            <div class="sep-v"></div>
            <div>
                <p class="left-pos">Find your account information and change it</p>
            </div>
        </span>
        <span onclick="redirectTo('/directions/', {menu_status : 'menu_closed'})">
            <h2>Directions</h2>
            <div class="sep-v"></div>
            <div>
                <p class="left-pos">Guides and extra tips for the application</p>
            </div>
        </span>
    </div>
</div>

{% endblock %} {% block sub_js %}
<script src="{% static 'js/sub_scripts/home_script.js' %}"></script>
{% endblock %}
